<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.employeeMapper">

<sql id="baseColumn" >
	EMP_ID empId ,EMP_NO empNo, EMP_PW empPw ,EMP_NAME empName,	HIRE_DATE hireDate, 
	EMP_TYPE empType, EMP_PH empPh, EMP_EMAIL empEmail, EMP_ADDR empAddr
</sql>



<select id="empNo" resultType="string">
	select nvl(max(EMP_NO),0) + 1 from employees
</select>

<insert id="empInsert" parameterType="Model.EmployeeDTO">
	insert into employees(EMP_ID ,EMP_NO, EMP_PW, EMP_NAME, HIRE_DATE, EMP_TYPE, EMP_PH, EMP_EMAIL, EMP_ADDR)
	values(#{empId},#{empNo},#{empPw},#{empName},#{hireDate},#{empType},#{empPh},#{empEmail},#{empAddr})
</insert>

<select id="empList" resultType="Model.EmployeeDTO" parameterType="Model.EmployeeDTO">
select 	rn, empId , empNo, empPw ,empName,	hireDate, empType, empPh, empEmail, empAddr
from (select rownum rn, <include refid="baseColumn" />
	from employees)
where rn between #{startEndPageDTO.startRow}
		and #{startEndPageDTO.endRow}
</select>

<select id = "count" resultType="int">
	select count(*) from employees
</select>



</mapper>